<!DOCTYPE html>
<html>

<head>
    <title>OWSM Marketplace</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/app.css" type="text/css" rel="stylesheet">
    <!-- <link rel="shortcut icon" type="image/png" href="/logo.png" /> -->
</head>

<body
    style="background-image: url('/back1.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; height: fit-content; padding-bottom: 80px;">

    <section id="header">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f3ba00;">
            <a class=" navbar-brand" href="/"><img src="/logo.png" width="50" height="50" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <% if (!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Welcome <%= currentUser.username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <%}%>
            </ul>
        </div>
    </nav>
        
    <div class="container">

        <%if(error && error.length > 0){%>
                    <div class="alert alert-danger">
                        <%=error%>
                    </div>
                    <%}%>
                <%if (success && success.length > 0){%>
                    <div class="alert alert-success">
                        <%=success%>
                    </div>
                    <%}%>
        </div>
    </section>
