<%- include('partials/header')-%>
<section id="new-item-form">
    <div class="container">
        <div class="row">
            <div class="form-container">
                <h1>What Do You Want To Sell ?</h1>
                <form action="/campgrounds" method="POST">
                    <input class="form-control" type="text" name="name" placeholder="Product Name" required>
                    <input class="form-control" type="text" name="image" placeholder="Image URL" required>
                    <textarea class="form-control" type="text" name="description" placeholder="Product Description"
                        required></textarea>
                    <div class="button-group">
                        <button class="btn bt-lg btn-primary">Submit</button>
                        <a class="btn bt-lg btn-danger" href="/campgrounds">Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer'); -%>