/********************* Landing Page *********************/
#landing-header .navbar {
  padding-top: 20px;
}

#landing-header .navbar .navbar-brand,
#header .navbar .navbar-brand {
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  background-color: #f3ba00;
}

#landing-header nav .navbar-nav {
  margin-right: 10px;
}

#landing-header nav .navbar-nav li a {
  color: white;
  margin: auto 12px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

#header nav .navbar-nav li a {
  color: black;
  margin: auto 12px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

#header nav .navbar-nav li a:hover {
  color: white;
}

#landing-header nav .navbar-nav li a:hover {
  color: black;
  background-color: #f3ba00;
}

#titles .main-title {
  font-size: 64px;
  color: white;
  text-align: center;
  font-weight: 600;
}

#titles .sub-title {
  font-size: 32px;
  color: white;
  text-align: center;
}

#titles .btn {
  margin-left: 44%;
  margin-top: 10px;
  font-weight: 700;
  background-color: #f3ba00;
  color: black;
}

/********************* Index Page *********************/
#items .card img {
  width: 100%;
  height: 150px;
}

#items .card .card-text {
  margin-bottom: 0.5rem;
}

#items .card .price {
  color: rgb(85, 85, 85);
  margin-bottom: 20px;
}

/********************* login-signup-form*****************/

#login-signup-form .container {
  margin-top: 80px;
}

#login-signup-form .container h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

#login-signup-form .container .form-container {
  margin: 25px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
  padding: 40px 20px;
  width: 350px;
}

#login-signup-form .container input {
  width: 90%;
  margin: 0 auto 10px auto;
}

#login-signup-form .container button {
  width: 100%;
  margin-bottom: 10px;
}

#login-signup-form .container a {
  width: 100%;
}

#login-signup-form .container .button-group {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/********************* FOOTER *********************/
#footer p {
  text-align: center;
  color: gray;
  margin: auto auto;
  padding: 10px;
}

/********************* FOOTER *********************/
#header .container {
  margin-top: 20px;
}

/********************* NEW ITEM FORM *********************/
#new-item-form .container h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

#new-item-form .container .form-container {
  margin: 25px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
  padding: 40px 20px;
}

#new-item-form .container input {
  width: 90%;
  margin: 0 auto 10px auto;
}

#new-item-form .container textarea {
  width: 90%;
  margin: 0 auto 10px auto;
  height: 100px;
}

#new-item-form .container button {
  display: inline;
}

#new-item-form .container a {
  display: inline;
}

#new-item-form .container .button-group {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/********************* ITEM DETAILS PAGE *********************/
#product .details {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
}

#product .details .description p {
  word-wrap: break-word;
}

#product .row .edit {
  margin-top: 20px;
  width: 15%;
}

#product .row .delete {
  display: inline-block;
}

#product .row .delete-btn {
  margin-top: 20px;
  width: 160%;
}

#product .comments {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
  background-color: rgb(233, 233, 233);
}

#product .comments hr {
  margin: 25px 0px 15px 0px;
}

#product .text-right {
  width: fit-content;
  float: right;
}

#product .comment-values {
  padding-left: 20px;
}

#product .comment-values span {
  float: right;
}

#product .comments h5 {
  padding-top: 5px;
}

#product .price {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

#product .date {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

#product .author {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

#product #phone {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  display: none;
}

#product .details img {
  margin-bottom: 20px;
  border-radius: 2px;
  width: 100%;
}

#product .details .product-image {
  text-align: center;
}
