/********************* Index Page *********************/
#items .card img {
  width: 100%;
  height: 150px;
}

#items .card .card-text {
  margin-bottom: 0.5rem;
}

#items .card .price {
  color: rgb(85, 85, 85);
  margin-bottom: 20px;
}

/********************* FOOTER *********************/
#footer p {
  text-align: center;
  color: gray;
  margin: auto auto;
  padding: 10px;
}

/********************* NEW ITEM FORM *********************/
#new-item-form .container h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

#new-item-form .container .form-container {
  margin: 25px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
  padding: 40px 20px;
}

#new-item-form .container input {
  width: 90%;
  margin: 0 auto 10px auto;
}

#new-item-form .container textarea {
  width: 90%;
  margin: 0 auto 10px auto;
  height: 100px;
}

#new-item-form .container button {
  display: inline;
}

#new-item-form .container a {
  display: inline;
}

#new-item-form .container .button-group {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/********************* ITEM DETAILS PAGE *********************/
#product .details {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
}

#product .row .back {
  margin-top: 20px;
  width: 15%;
}

#product .comments {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
  background-color: rgb(233, 233, 233);
}

#product .comments hr {
  margin: 25px 0px 15px 0px;
}

#product .text-right {
  width: fit-content;
  float: right;
}

#product .comment-values {
  padding-left: 20px;
}

#product .comment-values span {
  float: right;
}

#product .comments h5 {
  padding-top: 5px;
}

#product .price {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

#product .date {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

#product .details img {
  margin-bottom: 20px;
  border-radius: 2px;
  width: 100%;
}

#product .details .product-image {
  text-align: center;
}
